@import "utilities**/**";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
.wrapper {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    position: relative; 
  }
  *{
      box-sizing: border-box;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block; 
  }
  .button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 35px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    font-weight: 600;
    border: 2px solid transparent;
    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
    transition: all 500ms ease;
    cursor: pointer;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    &:hover{
        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
        box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    }
}
h6{
    color: #f70776;
    font-size: 12px;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px dashed #f70776;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    position: relative;
}

h2{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: #f70776;
    margin: 0;
}
p{
    padding: 0;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    @include mquery(mobile){
        margin-bottom: 10px; 
        margin-top: 10px; 
        font-size: 12px;
      }
}
.layout-content .region-content{
    display: none;
}
.view-empty{
    display: none;
}
.feed-icons{
    display: none;
}

/* CSS FOR SIDEBAR FIRST AND SIDEBAR SECOND */
.path-contact .side-con{
  
    display: flex;
   
  }
  /* .side-con >div{
    flex: 1 1 33.33%;
  } */
  
  .path-contact .sidebar-first, .path-contact .sidebar-second{
    width: calc(25% - 20px);
  }
  .path-contact .region-content{
    width:100%;
  }


//header
.header{
    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
    .header-inner{
        .navigation{
            .region{
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                #block-headerheading{
                    h3{
                        font-family: 'Dancing Script', cursive;
                        font-size: 80px;
                        margin-bottom: 30px;
                        color: #000;
                        margin: 0;
                        @include mquery(mobile){
                            font-size: 35px;
                        }
                    }
                }
                .nav-menu{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    position: relative;   
                    transition: all 0.6s; 
                    .nav-item{
                        padding: 10px 20px;
                        position: relative;
                        &:last-child{
                            font-size: 14px;
                            text-transform: capitalize;
                            letter-spacing: 0.7px;
                            font-weight: 600;
                            border: 2px solid transparent;
                            background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                            transition: all 500ms ease;
                            cursor: pointer;
                            color: #000;
                            overflow: hidden;
                        }
                        &:hover{
                            display: inline-block;
                            .nav-menu-sub{
                                visibility: visible;   
                                opacity: 1;   
                            }
                        }
                        a{
                            color: #000;
                            text-transform: capitalize;
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.5px;
                            font-family: 'Poppins', sans-serif;
                            text-decoration: none;
                            padding-right: 0.5rem;
                            padding-left: 0.5rem;
                            
                         }
                        .nav-menu-sub{
                            padding: 0;
                            list-style: none;
                            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            z-index: 999;
                            top: 50px;
                        }
                     }
                    .nav-item--expanded {
                        .nav-menu-child{
                            padding: 0; 
                            .nav-item{
                                padding: 10px ;
                                &:last-child{
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    letter-spacing: 0.7px;
                                    font-weight: 600;
                                    border: none !important;
                                    background: none !important;
                                    transition: all 500ms ease;
                                    cursor: pointer;
                                    color: #000 !important;
                                    overflow: hidden;
                                }
                                a{
                                    color: #000;
                                }
                            }
                        } 
                    }
                    
                }
            }
            
        }
        
    }
}
//hamburger
@include mquery(mobile){
  /*header*/
/*header*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.header .header-inner .navigation .region .nav-menu {
    position: fixed;
    right: 0;
    padding: 0;
    top: 65px;
    flex-direction: column;
    background: radial-gradient(circle at 0.1% 53.8%, #ffb6ac 0%, #ff7bac 100.2%);
    width: auto;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    //box-shadow: 0 10px 27px rgba(0 0 0 / 5%);
    list-style: none;
   display: none;
   &.active{
    display: flex;
   }
}

.nav-item {
    margin: 0;
}
.nav-item a{
   text-decoration: none;
   font-size: 14px;
   color: #fff;
   padding: 10px;
   font-family: 'Poppins', sans-serif;
}

.hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
// .header .nav-menu{
//     position: absolute;   
//     margin: 0;
//     padding: 0;  
// } 
 
.header .nav-menu .nav-item:hover{
    background-color: deeppink;
    position: relative;
}
.nav-item--expanded{
    .arrow-icon{
        transform: rotate(225deg);
    }
}


.header .nav-menu .nav-item .arrow-icon{
    display: inline-block;
    left: 10px;
    width: 12px;
    top: 15px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 1px;
    position: absolute;
}
.header .nav-menu .nav-item .nav-item--expanded .arrow-icon {
    transform: rotate(225deg);
}
.header .header-inner .navigation .region .nav-menu .nav-item:hover .nav-menu-sub {
    visibility: visible;
    opacity: 1;
    top: 31px;
    left: -62%;
    background: deeppink;
}

}

  

// @include mquery(medium){
//     /*header*/
//   /*header*/
//   .hamburger {
//       display: none;
//   }
  
//   .bar {
//       display: block;
//       width: 25px;
//       height: 3px;
//       margin: 5px auto;
//       -webkit-transition: all 0.3s ease-in-out;
//       transition: all 0.3s ease-in-out;
//       background-color: #fff;
//   }
//   .header .header-inner .navigation .region .nav-menu {
//       position: fixed;
//       right: 0;
//       padding: 0;
//       top: 116px;
//       flex-direction: column;
//       background: radial-gradient(circle at 0.1% 53.8%, #ffb6ac 0%, #ff7bac 100.2%);
//       width: auto;
//       text-align: center;
//       transition: 0.3s;
//       z-index: 999;
//       //box-shadow: 0 10px 27px rgba(0 0 0 / 5%);
//       list-style: none;
//      display: none;
//      &.active{
//       display: flex;
//      }
//   }
  
//   .nav-item {
//       margin: 0;
//   }
//   .nav-item a{
//      text-decoration: none;
//      font-size: 14px;
//      color: #fff;
//      padding: 10px;
//      font-family: 'Poppins', sans-serif;
//   }
  
//   .hamburger {
//       display: block;
//       cursor: pointer;
//   }
//   .hamburger.active .bar:nth-child(2) {
//       opacity: 0;
//   }
  
//   .hamburger.active .bar:nth-child(1) {
//       transform: translateY(8px) rotate(45deg);
//   }
  
//   .hamburger.active .bar:nth-child(3) {
//       transform: translateY(-8px) rotate(-45deg);
//   }
//   // .header .nav-menu{
//   //     position: absolute;   
//   //     margin: 0;
//   //     padding: 0;  
//   // } 
   
//   .header .nav-menu .nav-item:hover{
//       background-color: deeppink;
//       position: relative;
//   }
//   .nav-item--expanded{
//       .arrow-icon{
//           transform: rotate(225deg);
//       }
//   }
  
  
//   .header .nav-menu .nav-item .arrow-icon{
//       display: inline-block;
//       left: 10px;
//       width: 12px;
//       top: 15px;
//       height: 12px;
//       border: solid #fff;
//       border-width: 0 3px 3px 0;
//       transform: rotate(45deg);
//       border-radius: 1px;
//       position: absolute;
//   }
//   .header .nav-menu .nav-item .nav-item--expanded .arrow-icon {
//       transform: rotate(225deg);
//   }
//   .header .header-inner .navigation .region .nav-menu .nav-item:hover .nav-menu-sub {
//       visibility: visible;
//       opacity: 1;
//       top: 31px;
//       left: -62%;
//       background: deeppink;
//   }
//   // .header .header-inner .navigation .region .nav-menu {
//   //     display: flex;
//   //     flex-wrap: wrap;
//   //     list-style: none;
//   //     position: absolute;
//   //     margin: 0;
//   //     padding: 0;
//   //     transition: all 0.6s;
//   // }
//   }
  

//banner
.banner{
    position: relative;
    &::after{
        position: absolute;
        top: 0;
        content: "";
        left: 0px;
        padding: 0;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
    }
    .views-field-field-banner-image{
        position: relative;
        img{
            max-height: 500px;
        }
    }
    .views-field-body{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        .banner-body{
            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
          transition: 0.5s;
          text-align: center;
          padding: 30px 0;
          @include mquery(mobile){
           padding: 0;
        }
          &:hover{
            transform: translate(0,0);
           
          }
          h2{
            font-size: 60px;
            color:#dc1919;
            text-transform: capitalize;
            font-weight: 700;
            line-height: 1.3;
            font-family: 'Dancing Script', cursive;
            margin: 10px 0;
            @include mquery(mobile){
                font-size: 22px;
            }
          }
          h4{
            font-size: 30px;
            color: #000;
            text-transform: uppercase;
            margin-bottom: 20px;
            line-height: 1.3;
            font-family: 'Dancing Script', cursive;
            margin: 0;
            @include mquery(mobile){
                font-size: 15px;
            }
          }
          p{
            margin-bottom: 5px;
            color: #000;
            font-size: 16px;
            line-height: 1.5;
            font-family: 'Dancing Script', cursive;
            margin: 0;
            padding: 0;
            @include mquery(mobile){
                font-size: 13px;
            }
          }
          .banner-btn{
            margin-top: 10px;
            display: inline-block;
            padding: 10px 35px;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            font-size: 30px;
            text-transform: capitalize;
            letter-spacing: 0.7px;
            font-weight: 600;
            border: 2px solid transparent;
            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
            transition: all 500ms ease;
            cursor: pointer;
            color: #000;
            position: relative;
            text-decoration: none;
            font-family: 'Dancing Script', cursive;
            @include mquery(mobile){
                padding: 10px 20px;
                font-size: 18px;
            }
            &:hover{
                background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
            }
          }
        }
    }
}

//side-con
.side-con{
    //items
    #block-views-block-item-view-block-1{
        .items{
            .view-content{
                padding: 100px 0px;
                overflow: hidden;
                @include mquery(mobile){
                    padding: 50px 0px;
                }
                .views-row{
                    margin-right: -15px;
                    margin-left: -15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mquery(mobile){
                        display: inline-block;
                    }
                    .views-field-field-item-image{
                        img{
                            width: 100%; 
                        }
                        
                    }
                    .views-field-body{
                        .item-content{
                            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                            text-align: center;
                            padding: 30px;
                            h4{
                                margin-top: 0px;
                                margin-bottom: 20px;
                                font-size: 22px;
                                font-weight: 700;
                                letter-spacing: 0.5px;
                                text-transform: uppercase;
                                color: #000;
                            }
                            .contact-content {
                                background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                                padding: 20px 30px;
                                 span{
                                    font-size: 11px;
                                    text-transform: uppercase;
                                    color: #000;
                                    letter-spacing: 1px;
                                    border: none;
                                    width: auto;
                                    height: auto;
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                 }
                                 h6{
                                    font-size: 20px;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    color: #000;
                                    letter-spacing: 0.5px;
                                    margin: 0;
                                 }
                            }
                            span {
                                margin-top: 15px;
                                margin-bottom: 15px;
                                font-size: 11px;
                                text-transform: uppercase;
                                color: #000;
                                letter-spacing: 1px;
                                border: 1px solid #da6856;
                                width: 25px;
                                height: 25px;
                                display: inline-block;
                                line-height: 25px;
                                border-radius: 50%;
                            }
                            a{
                                display: inline-block;
                                background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                                color: #000;
                                font-size: 13px;
                                text-transform: uppercase;
                                font-weight: 500;
                                padding: 12px 20px;
                                border-radius: 3px;
                                text-decoration: none;
                                letter-spacing: 0.5px;
                                &:hover{
                                    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                                    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
                                }
                            }
                        }
                    }
                    .views-field-field-item-image2{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            
        }
    }
    //services
    #block-views-block-services-block-1{
        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
        .services{
            
            .view-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 50px 0;
                overflow: hidden;
                @include mquery(mobile){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                }
                .views-row{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include mquery(mobile){
                       width: 50%;
                    }
                    
                    .views-field-field-services-image{
                        background: radial-gradient(329px at 3.1% 9.3%, #fbcceb 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                        padding: 20px;
                        border-radius: 50%;
                        &:hover{
                            transform: rotateY(360deg);
                            transition: transform 0.6s;
                        }
                    }
                    .views-field-body{
                        h4{
                            font-size: 30px;
                            color: #dc1919;
                            text-transform: capitalize;
                            font-weight: 700;
                            line-height: 1.3;
                            font-family: 'Dancing Script', cursive;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
    //book-table
    #block-views-block-book-table-block-1{
        padding: 80px 0px;
        background-image: url(../images/booktable.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        text-align: center;
        position: relative;
        &::after{
            position: absolute;
            top: 0;
            content: "";
            left: 0px;
            padding: 0;
            height: 100%;
            width: 100%;
            opacity: 0.8;
            background: radial-gradient(879px at 10.4% 22.3%, #ffebee 0%, #babef5 93.6%);
        }
        .book-table{
            z-index: 1;
            .view-content{
                padding: 50px 0;
                overflow: hidden;
                 .views-row{
                display: flex;
                justify-content: center;
                @include mquery(mobile){
                   display: inline-block;
                 }
                .views-field-field-book-image{
                    margin-left: 0;
                    @include mquery(medium){
                        margin: 0;
                    }
                    @include mquery(mobile){
                       margin: 0;
                      }
                }
                .views-field-body{
                    width: 33.33333333%;
                    @include mquery(medium){
                        width: 50%;
                    }
                    @include mquery(mobile){
                       width: 100%;
                       }
                    .right-info{
                        height: 282px;
                        background: radial-gradient(879px at 10.4% 22.3%, #ffebee 0%, #babef5 93.6%);
                        margin-left: -30px;
                        padding: 30px;
                        h4{
                            display: flex;
                            justify-content: center;
                            text-transform: uppercase;
                            color: #dc1919;
                            font-family: 'Poppins', sans-serif;
                            font-size: 28px;
                            margin: 0;
                            text-decoration: underline;
                            margin-bottom: 20px;
                        }
                        .row{
                            margin-right: -15px;
                            margin-left: -15px;
                            &::before{
                                display: table;
                                content: " ";
                            }
                            .col-md-6{
                                position: relative;
                                min-height: 1px;
                                padding-right: 15px;
                                padding-left: 15px;
                                width: 50%;
                                float: left;
                                fieldset{
                                    min-width: 0;
                                    padding: 0;
                                    margin: 0;
                                    border: 0;
                                    select{
                                        border-right: none;
                                        border-left: none;
                                        border-top: none;
                                        width: 100%;
                                        outline: none;
                                        border-bottom: 1px solid #eee;
                                        font-size: 14px;
                                        color: #9a9a9a;
                                        padding-left: 10px;
                                        height: 40px;
                                    }
                                    input{
                                        margin-top: 30px;
                                        margin-bottom: 30px;
                                        box-shadow: none;
                                        outline: none;
                                        border-right: none;
                                        border-left: none;
                                        border-top: none;
                                        border-bottom: 1px solid #eee;
                                        font-size: 14px;
                                        color: #9a9a9a;
                                    }
                                    .form-control{
                                        display: block;
                                        width: 100%;
                                        height: 34px;
                                        padding: 6px 12px;
                                        font-size: 14px;
                                        line-height: 1.42857143;
                                        color: #555;
                                        background-color: #fff;
                                        background-image: none;
                                        border: 1px solid #ccc;
                                        border-radius: 4px;
                                    }
                                    button{
                                        display: inline-block;
                                        padding: 5px 15px;
                                        text-align: center;
                                        width: 100%;
                                        vertical-align: middle;
                                        user-select: none;
                                        font-size: 22px;
                                        text-transform: capitalize;
                                        letter-spacing: 0.7px;
                                        font-weight: 600;
                                        border: 2px solid transparent;
                                        background: radial-gradient(879px at 10.4% 22.3%, #ffebee 0%, #babef5 93.6%);
                                        transition: all 500ms ease;
                                        cursor: pointer;
                                        color: #000;
                                        position: relative;
                                        text-decoration: none;
                                        font-family: 'Dancing Script', cursive;
                                        &:hover{
                                            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                                            box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
                                        }
                                    }
                                }
                                
                            }
                        }
                        
                    }
                }
            }
            }
           
            
        }
    }
    //application
    #block-getapplication{
        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
        .field__item{
            padding: 50px 0;
            text-align: center;
            h2{
                font-weight: 700;
                text-transform: capitalize;
                font-size: 33px;
                font-family: 'Dancing Script', cursive;
                line-height: 1.3;
                color: #dc1919;
                margin: 0;
            }
            a{
                margin-top: 20px;
                display: inline-block;
                padding: 10px 35px;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                font-size: 30px;
                text-transform: capitalize;
                letter-spacing: 0.7px;
                font-weight: 600;
                border: 2px solid transparent;
                background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                transition: all 500ms ease;
                cursor: pointer;
                color: #000;
                position: relative;
                text-decoration: none;
                font-family: 'Dancing Script', cursive;
                &:hover{
                    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
                }
            }
        }
    }
    //weekly
    #block-views-block-weekly-food-block-1{
        padding: 50px 0;
        .weekly{
            .view-header{
                text-align: center;
                h4{
                    font-size: 60px;
                    color:#dc1919;
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 1.3;
                    font-family: 'Dancing Script', cursive;
                    margin: 10px 0;
                    @include mquery(mobile){
                        font-size: 30px;
                     }
                }
            }
            .view-content{
                
                overflow: hidden;
                .weekly-inner{
                    list-style: none;
                    padding: 20px 0 40px;
                    margin: 0;
                    position: relative;
                    .slick-slide{
                        padding: 5px;
                        font-size: 0;
                        margin: 10px;
                        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                        .views-field-field-title{
                            font-size: 30px;
                            color: #000;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            line-height: 1.3;
                            font-family: 'Dancing Script', cursive;
                            margin: 0;
                            text-align: center;
                        }
                        .views-field-field-weekly-image{
                            img{
                                width: 100%;
                            }
                        }
                        .views-field-field-weekly-number{
                            display: inline-block;
                            text-transform: uppercase;
                            color: #dc1919;
                            font-family: 'Poppins', sans-serif;
                            font-size: 15px;
                            margin: 20px 0;
                            text-decoration: underline;
                        }
                        .views-field-body{
                            .text-content{
                                h4{
                                    margin: 5px 0;
                                    font-size: 30px;
                                    text-transform: capitalize;
                                    letter-spacing: 0.7px;
                                    font-weight: 600;
                                    color: #000;
                                    position: relative;
                                    text-decoration: none;
                                    font-family: 'Dancing Script', cursive;
                                }
                            }
                        }
                    }
                    button{
                        margin: 0;
                      padding: 0;
                      background: none;
                      border: none;
                      border-radius: 0;
                      outline: none;
                      font-size: 0;
                      appearance: none;
                    }
                    .slick-prev{
                        left: 50%;
                      width: 0;
                      height: 0;
                      border-left: 0 solid transparent;
                      border-right: 15px solid #babef5;
                      border-top: 10px solid transparent;
                      border-bottom: 10px solid transparent;
                      @include mquery(mobile){
                        left: 42%;
                     }
                    //  @include mquery(medium){
                    //     left: 45%;
                    // }
                    }
                    .slick-next{
                      right: 45%;
                      width: 0;
                      height: 0;
                      border-right: 0 solid transparent;
                      border-left: 15px solid #babef5;
                      border-top: 10px solid transparent;
                      border-bottom: 10px solid transparent;
                      @include mquery(mobile){
                        right: 42%;
                     }
                    //  @include mquery(medium){
                    //     right: 47%;
                    // }
                    }
                    .slick-arrow{
                        position: absolute;
                      bottom: 0;
                      margin-top: -15px;
                      z-index: 999;
                      font-size: 0;
                    }
                    
                }
            }
            
        }
    }

    //blogs
    #block-views-block-blogs-block-1{
        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
        padding: 50px 0;
        .blogs{
            
            .view-header{
                text-align: center;
                h4{
                    font-size: 60px;
                    color:#dc1919;
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 1.3;
                    font-family: 'Dancing Script', cursive;
                    margin: 10px 0;
                    @include mquery(mobile){
                        font-size: 30px;
                     }
                }
            }
            .view-content{
                padding: 10px 0;
                overflow: hidden;
            }
            .blogs-lists{
                margin: 40px 0;
                list-style: none;
                .slick-dots{
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 10px 0;
                    list-style-type: none;
                    position: absolute;
                    bottom: -55px;
                    left: 50%;
                    transform: translateX(-50%);
                
                }
                .slick-active{
                    button{
                        background-color: deeppink;
                    }
                }
                button{
                    display: block;
                            width: 1rem;
                            height: 1rem;
                            padding: 0;
                            border: none;
                            border-radius: 100%;
                            background-color: red;
                            text-indent: -9999px;
                }
                li{
                    padding: 0 20px;
                    margin: 0;
                    // &:nth-child(odd){
                    //     background-color: #000;
                    // }
                    .views-field-field-blog-date{
                        background-color: #fff;
                        display: inline-block;
                        padding: 15px 10px;
                    }
                    .views-field-field-blog-heading{
                        font-family: 'Poppins', sans-serif;
                        font-size: 20px;
                        letter-spacing: 0px;
                        color: #000000;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        padding: 10px 0;
                        background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                    }
                    .views-field-field-blog-author{
                        background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);  
                    }
                    .views-field-field-blog-description{
                        background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);  
                        .blog-desc{
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 10px;
                            background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                        }
                        a{
                            display: inline-block;
                            text-transform: uppercase;
                            color: #dc1919;
                            font-family: 'Poppins', sans-serif;
                            font-size: 15px;
                            margin: 20px 0;
                            text-decoration: underline;
                            background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                        }
                    }
                    
                }
            }
        }
    }
    //sign
    #block-views-block-sign-block-1{
        padding: 50px 0;
        @include mquery(mobile){
            padding: 30px 0;
        }
        .signup {
           overflow: hidden;
            .views-field-field-sign-heading{
                text-align: center;
                font-size: 60px;
                    color:#dc1919;
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 1.3;
                    font-family: 'Dancing Script', cursive;
                    margin: 10px 0;
                    @include mquery(mobile){
                        font-size: 20px;
                    }
            }
            .views-field-body{
                margin: 40px 0 20px;
                .field-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mquery(mobile){
                       display: inline;
                       text-align: center;
                    }
                    fieldset{
                        border: none;
                        padding: 0;
                        margin: 0;
                        .form-control{
                            width: auto;
                            border: 2px solid transparent;
                            padding: 19px 35px;
                            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                            color: #000;
                            // @include mquery(mobile){
                            //     width: 300px;
                            // }
                            // @include mquery(medium){
                            //     width: 420px;
                            // }
                        }
                        .btn{
                            display: inline-block;
                            padding: 10px 35px;
                            text-align: center;
                            vertical-align: middle;
                            user-select: none;
                            font-size: 30px;
                            text-transform: capitalize;
                            letter-spacing: 0.7px;
                            font-weight: 600;
                            border: 2px solid transparent;
                            background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                            transition: all 500ms ease;
                            cursor: pointer;
                            color: #000;
                            position: relative;
                            text-decoration: none;
                            font-family: 'Dancing Script', cursive;
                            @include mquery(mobile){
                                font-size: 20px;
                             }
                            &:hover{
                                background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                                box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

//footer
.footer{
    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
    .footer-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mquery(mobile){
            display: inline-block;
         }
       .left{
            font-size: 46px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #000;
            text-transform: uppercase;
            opacity: 1;
            margin-right: 10px;
            width: calc(30% - 10px);
            @include mquery(mobile){
               width: 100%;
               font-size: 30px;
               h5{
                margin: 20px 0;
               }
             }
        }
        .region-footer-second  {
            a{
                font-size: 18px;
                letter-spacing: 0px;
                color: #000 !important;
                opacity: 1;
                display: flex;
                align-items: center;
                transition: all 0.6s;
                text-decoration: none;
                @include mquery(mobile){
                    font-size: 15px;
                  }
                svg{
                    padding: 0 20px 0 0;
                }
            }
       
        }
       .right{
            width: 30%;
            @include mquery(mobile){
                width: 100%;
               
              }
            p{
                font-size: 16px;
                letter-spacing: 0px;
                color: #000;
                opacity: 1;
                line-height: 26px;
            }
        }
    }
}

//description
.description{
    padding: 50px 0;
    .view-header{
        text-align: center;
        h4{
            font-size: 60px;
            color: #dc1919;
            text-transform: capitalize;
            font-weight: 700;
            line-height: 1.3;
            font-family: 'Dancing Script', cursive;
            margin: 10px 0;
            @include mquery(medium){
                font-size: 40px;
            }
            @include mquery(mobile){
                font-size: 40px;
            }
        }
    }
    h2{
        a{
            span{
                display: none;
            }
        }
    }
}
//ideas
.ideas{
    padding: 50px 15px;
    .view-header{
        text-align: center;
        h4{
            font-size: 60px;
            color: #dc1919;
            text-transform: capitalize;
            font-weight: 700;
            line-height: 1.3;
            font-family: 'Dancing Script', cursive;
            margin: 10px 0;
            @include mquery(medium){
                font-size: 40px;
            }
            @include mquery(mobile){
                font-size: 40px;
            }
        }
    }
    .view-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 15px;
        margin-top: 40px;
        background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
        
        .views-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mquery(mobile){
                display: inline-block;
            }
        }
        .views-field-field-idea-image{
            width: 50%;
            flex: 1;
            padding: 0 20px 0 0;
            margin: 0;
            position: relative;
            display: inline-block;
            img{
                z-index: 99;
                border-radius: 72% 28% 62% 38% / 36% 50% 50% 64%;
                width: 416px;
                height: 416px;
                position: relative;
            }
        }
        .views-field-body{
            width: 50%;
            display: inline-block;
            @include mquery(mobile){
                width: 100%;
            }
            .ideas-inner {
                h3{
                    font-weight: 700;
                    text-transform: capitalize;
                    font-size: 33px;
                    font-family: 'Poppins', sans-serif;
                    line-height: 1.3;
                    color: #dc1919;
                    margin: 0;
                    @include mquery(mobile){
                        font-size: 25px;
                        margin: 10px 0;
                    }
                }
                a{
                    margin: 0;
                    display: inline-block;
                    padding: 10px 35px;
                    text-align: center;
                    vertical-align: middle;
                    user-select: none;
                    font-size: 30px;
                    text-transform: capitalize;
                    letter-spacing: 0.7px;
                    font-weight: 600;
                    border: 2px solid transparent;
                    background: radial-gradient(879px at 10.4% 22.3%, #ffebee 0%, #babef5 93.6%);
                    transition: all 500ms ease;
                    cursor: pointer;
                    color: #000;
                    position: relative;
                    text-decoration: none;
                    font-family: 'Dancing Script', cursive;
                }
            }
            
        }
    }
    
    h2{
        a{
            display: none;
        }
    }
    .node__links{
        display: none;
    }
}  

//countries
.countries {
    padding: 50px 15px;
    .view-header{
        text-align: center;
        h6{
            font-size: 60px;
            color: #dc1919;
            text-transform: capitalize;
            font-weight: 700;
            line-height: 1.3;
            font-family: 'Dancing Script', cursive;
            margin: 10px 0;
            @include mquery(medium){
                font-size: 40px;
            }
            @include mquery(mobile){
                font-size: 40px;
            }
        }
    }
    .view-content{
        padding: 30px 15px;
        margin-top: 40px;
        background: radial-gradient(879px at 10.4% 22.3%, #ffebee 0%, #babef5 93.6%);
        .views-row{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @include mquery(mobile){
                display: inline-block;
            }
            .views-field-field-country-image{
                width: 100%;
                flex: 1;
                padding: 0 20px 0 0;
                margin: 0;
                position: relative;
                display: inline-block;
                
                img{
                    z-index: 99;
                    width: 100%;
                    position: relative;
                }
            }
            .views-field-field-country-name{
                font-weight: 700;
                text-transform: capitalize;
                font-size: 33px;
                font-family: 'Poppins', sans-serif;
                line-height: 1.3;
                color: #dc1919;
                margin: 0;
                @include mquery(mobile){
                    font-size: 25px;
                }
            }
            .views-field-body{
                width: 61%;
                display: inline-block;
                margin-left: 20px;
                @include mquery(mobile){
                    width: 100%;
                }
                .ideas-inner {
                    h3{
                        font-weight: 700;
                        text-transform: capitalize;
                        font-size: 33px;
                        font-family: 'Poppins', sans-serif;
                        line-height: 1.3;
                        color: #dc1919;
                        margin: 0;
                    }
                    
                }
                
            }
        }
    }
}


/*Contact Us*/
.path-contact{
    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
}
.contact-form{
    padding: 50px 0 100px;
    .form-item-field-name-0-value{
        margin: 0;
    }
    .form-item-field-email-0-value{
        margin: 0;
    }
    .form-item-field-address-0-value{
        margin: 0;
    }
    .form-item-field-message-0-value{
        margin: 0;
    }
    .form-wrapper{
        margin: 0 auto;
        max-width: 1230px;
        padding: 0 15px;  
        .form-item{
            margin-bottom: 1em;
            input {
                max-width: 100%;
                border-radius: 2px;
                border: 1px solid var(--border-color);
                line-height: normal;
                overflow: visible;
                font-size: 100%;
                line-height: 1.6;
                margin: 0;
                padding: 9px 6px;
                outline: 0;
                color: #000;
            }
            textarea{
                width: 100%;
                overflow: auto;
                height: 100px;
                transition: height 0.3s ease-in-out;
                vertical-align: top;
                padding: 10px;
                border: 1px solid var(--border-color);
                line-height: normal;
                overflow: visible;
                border-radius: 2px;
            }
            label {
                display: block;
                cursor: pointer;
                font-weight: 400;
                line-height: 1.7;
                font-family: 'Poppins', sans-serif;
            
            }
            .form-submit{
                margin-top: 10px;
                display: inline-block;
                padding: 10px 35px;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                font-size: 30px;
                text-transform: capitalize;
                letter-spacing: 0.7px;
                font-weight: 600;
                border: 2px solid transparent;
                background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                transition: all 500ms ease;
                cursor: pointer;
                color: #000;
                position: relative;
                text-decoration: none;
                font-family: 'Dancing Script', cursive;
                &:hover{
                    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
                    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
                }
            }
        }
    }
}



.region-sidebar-first{
    background: #fff;
    padding: 20px;
    margin-right: 30px;
    margin-top: 50px;
}



//path-blogs
.path-blogs{
    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
        .blogs{
            padding: 50px 0;
            .view-header{
                text-align: center;
                h4{
                    font-size: 60px;
                    color:#dc1919;
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 1.3;
                    font-family: 'Dancing Script', cursive;
                    margin: 10px 0;
                    @include mquery(medium){
                        font-size: 40px;
                    }
                    @include mquery(mobile){
                        font-size: 40px;
                    }
                }
            }
            .view-content{
                margin: 40px 0;
                list-style: none;
                .views-row{
                    padding: 0 20px;
                    margin: 0;
                    background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
                    margin: 30px 0;
                    // &:nth-child(odd){
                    //     background-color: #000;
                    // }
                    .views-field-field-blog-date{
                        background-color: #fff;
                        display: inline-block;
                        padding: 15px 10px;
                    }
                    .views-field-field-blog-heading{
                        font-family: 'Poppins', sans-serif;
                        font-size: 20px;
                        letter-spacing: 0px;
                        color: #000000;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        padding: 10px 0;
                        background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                    }
                    .views-field-field-blog-author{
                        background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);  
                    }
                    .views-field-field-blog-description{
                        background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);  
                        .blog-desc{
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 10px;
                            background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                        }
                        a{
                            display: inline-block;
                            text-transform: uppercase;
                            color: #dc1919;
                            font-family: 'Poppins', sans-serif;
                            font-size: 15px;
                            margin: 20px 0;
                            text-decoration: underline;
                            background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                        }
                    }
                    
                }
            }
        }
}
//page-node-type-blogs
.page-node-type-blogs{
    .region-content{
        margin: 0 auto;
        max-width: 1230px;
        padding: 0 15px;
        position: relative;
        .node__content{
            margin: 50px 0;
            padding: 50px;
            background: linear-gradient(0deg, #f7f7f7 23.8%, #fcdddd 92%);
            .datetime{
                background-color: #fff;
                        display: inline-block;
                        padding: 15px 10px;
            }
            .field--name-field-blog-heading{
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                letter-spacing: 0px;
                color: #000000;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                padding: 10px 0;
                background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%); 
            }
            .field--name-field-blog-author {
                background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);  
            }
            .field--name-field-blog-description {
                background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);  
                .blog-desc{
                    margin-bottom: 10px;
                    background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                }
                a{
                    display: inline-block;
                    text-transform: uppercase;
                    color: #dc1919;
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    margin: 20px 0;
                    text-decoration: underline;
                    background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 100.7%);
                }
            }
            .field--name-field-blog-link {
                display: none;
            }
        }
    }
    
}


// //menus
// .tablinks{
//     padding: 50px 0;
//     .view-header{
//         text-align: center;
//         h4{
//             font-size: 60px;
//             color:#dc1919;
//             text-transform: capitalize;
//             font-weight: 700;
//             line-height: 1.3;
//             font-family: 'Dancing Script', cursive;
//             margin: 10px 0;
//         }
//     }
//     .view-content{
//         margin: 0;
//         background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         height: 80px;
//         border-radius: 2px 2px 0px 0px;
//         //border: 4px solid red;
//         .views-row{
//             background: transparent;
//             background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
//             border: 4px solid red;
//             outline: none;
//             cursor: pointer;
//             width: 25%; /*change depending on the number of tabs*/
//             height: 80px;
//             position: relative;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             font-size: 30px;
//             font-family: 'Dancing Script', cursive;
//             overflow: hidden;
//             transition: 0.3s ease;
//         }
//     }
// }
// .tabcontent{
//     padding: 30px 0;
//     .view-content{
//         display: flex;
//         flex-wrap: wrap;   
//         padding: 30px 0; 
//         background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
//         .views-row{
//             margin:20px;
//             width: 44%;
//              padding: 20px;
//             box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
//         }
//     }
// }



//menus
.menus-header{
    text-align: center;
    h4{
        font-size: 60px;
        color:#dc1919;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 1.3;
        font-family: 'Dancing Script', cursive;
        margin: 10px 0;
    } 
}

#navbar{
    display: flex;
    justify-content: center;
    list-style: none;
    @include mquery(mobile){
       padding: 0;
    }
    li{
        background: transparent;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
        border: 4px solid red;
        outline: none;
        cursor: pointer;
        width: 160px; /*change depending on the number of tabs*/
        height: 80px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 10px;
        margin-right: 10px;
    
        font-family: 'Dancing Script', cursive;
        overflow: hidden;
        transition: 0.3s ease;
        @include mquery(mobile){
            width: 55px;
            height: 40px;
            font-size: 12px;
            border: 1px solid red;
        }
            .inactive{
                color: #394359;
               
              }
        
    }
    
}
.tabcontent{
    list-style: none;
    .view-content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include mquery(mobile){
        display: block;
      }
        .views-row{
            width: 47%;
            @include mquery(mobile){
                width: 100%; 
              }
        }
    }
}
.tabcontent-main{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mquery(mobile){
        display: block;
      }
    li{
        width: 47%;
        @include mquery(mobile){
            width: 100%; 
          }
    }
}
.accord-outer{
    margin: 60px 0;
   // width: 44%;
    padding: 20px;
    border-radius: 20px;
    background: radial-gradient(879px at 10.4% 22.3%, rgb(255, 235, 238) 0%, rgb(186, 190, 245) 93.6%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    @include mquery(mobile){
       width: 100%;
       margin: 20px 0;
       padding: 10px;
    }
    img{
        margin: 0 0 30px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        @include mquery(mobile){
            margin: 0 0 15px;
         }
    }
}







