//breakpoint
@mixin mquery($size) {
    @if $size == xlarge {
        @media only screen and (min-width: 1400px) {
            @content;
        }
    }
    @if $size == wrap {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
    @if $size == large {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
    @if $size == mobileMenu {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @if $size == deskMenu {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
    @if $size == tab {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @if $size == desktop {
        @media only screen and (max-width: 1280px) {
            @content;
        }
    }
     @if $size == medium {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    }
    @if $size == largelaptop {
        @media only screen and (min-width: 1025px) {
            @content;
        }
    }
    
    @if $size == tablet {
        @media only screen and (max-width: 800px) {
            @content;
        }
    }
    @if $size == mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @if $size == small {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
    @if $size == xsmall {
        @media only screen and (max-width: 375px) {
            @content;
        }
    }
    @if $size == xxsmall {
        @media only screen and (max-width: 320px) {
            @content;
        }
    }
}