<div class="menus-header">
<h4>Our Menu</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla.</p>
</div>

<ul id="navbar">
            <li class="tab-title">
                <a id="all" class="inactive">All</a>
            </li>
            <li class="tab-title">
                <a id="lunch" class="inactive">Lunch</a>
            </li>
            <li class="tab-title">
                <a id="breakfast" class="inactive">BreakFast</a>
            </li>
            <li class="tab-title">
                <a id="dinner" class="inactive">Dinner</a>
            </li>
            <li class="tab-title">
                <a id="drinks" class="inactive">Drinks</a>
            </li>
            <li class="tab-title">
                <a id="others" class="inactive">Others</a>
            </li>
            
</ul>
<div class="all-content">
    {{ all }}
</div>
<div class="lunch-content">
    {{ lunch }}
</div>
<div class="breakfast-content">
    {{ breakfast }}
</div>
<div class="dinner-content">
    {{ dinner }}
</div>
<div class="drinks-content">
    {{ drinks }}
</div>
<div class="others-content">
    {{ others }}
</div>

